<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/rh.css">
</head>
<header>
    <span id="pagina-form">
        <div class="CabecaTop">
               <img src="/img/finalBRANCO.png" alt="logo">
               <h3>Knowledge SY</h3>
        </div>
    </span>
</header>

    <body>
    <H1>MATERIAL CONSUMO</H1>
            <form action="/consumptionResults" method="POST">

                <!-- APENAS PARA VALIDAR OS ENVIOS DE INFORMAÇÕES, TRATAR ESSA PARTE DEPOIS-->
                <label for="nomeInstituicao">Nome</label>
                <input class="input-nomeInstituicao" type="text" name="nomeInstituicao" required="required"><br>

                <label for="CNPJ">CNPJ</label>
                <input class="input-CNPJ" type="text" name="CNPJ" required="required"><br>

                <label for="descritivo">Descritivo</label>
                <input class="input-descritivo" type="text" name="descritivo" required="required"><br>

                <label for="notaFiscal">Nota Fiscal</label>
                <input class="input-notaFiscal" type="text" name="notaFiscal" required="required"><br>

                <label for="projeto">Projeto</label>
                <input class="input-projeto" type="text" name="projeto" required="required"><br>
                
                <label for="dataEmissao">Data Emissão</label>
                <input class="input-dataEmissao" type="text" name="dataEmissao" required="required"><br>
                
                <label for="valor">Valor</label>
                <input class="input-valor" type="text" name="valor" required="required"><br>

                <h1>----------------------------------------------------------------------------</h1></br>
                

                <!-- APENAS PARA VALIDAR OS ENVIOS DE INFORMAÇÕES, TRATAR ESSA PARTE DEPOIS-->
                <label for="nomeInstituicao">Nome</label>
                <input class="input-nomeInstituicao" type="text" name="nomeInstituicao" required="required"><br>

                <label for="CNPJ">CNPJ</label>
                <input class="input-CNPJ" type="text" name="CNPJ" required="required"><br>

                <label for="descritivo">Descritivo</label>
                <input class="input-descritivo" type="text" name="descritivo" required="required"><br>

                <label for="notaFiscal">Nota Fiscal</label>
                <input class="input-notaFiscal" type="text" name="notaFiscal" required="required"><br>

                <label for="projeto">Projeto</label>
                <input class="input-projeto" type="text" name="projeto" required="required"><br>
                
                <label for="dataEmissao">Data Emissão</label>
                <input class="input-dataEmissao" type="text" name="dataEmissao" required="required"><br>
                
                <label for="valor">Valor</label>
                <input class="input-valor" type="text" name="valor" required="required"><br>
                
                        <button type="submit">Enviar</button>

            </form>

    </body>
</html>