#page-search-results{
    width: 90%;
    max-width: 1100px;
 
    /*EM CIMA E EMBAIXO FIQUE 0 MAS NAS LATERAIS SEJA PREENCHIDO AUTOMATICAMENTE*/
    margin: 0 auto;
}


#page-search-results{
    width: 90%;
    max-width: 1100px;
 
    /*EM CIMA E EMBAIXO FIQUE 0 MAS NAS LATERAIS SEJA PREENCHIDO AUTOMATICAMENTE*/
    margin: 0 auto;
}


main{
    margin: 48px;
}

main h4{
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    
    margin-bottom: 32px;
}

main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px 20px;
}


main .cards img{
    width: 100%;
    height: 150px;
    
    object-fit: cover; /*para preencher todo o esaço com a imagem para ela ficar "resposiva"*/

    border-radius: 8px 8px 0 0;
    
}

main .cards h1{
    margin-top: 32px;


    font-size: 36px;
    line-height: 41px;
    color: black;
}


main .card h3{
    margin: 24px 0;


    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    line-height: 34px;

    color:black
}

main .card p{
    font-size: 16px;
    line-height: 26px;

    color: black;
}

/*fazer o plano de fundo atrás da imagem principal*/
body{
    background-color:white;
}


body::after{
    content: "";
    position: absolute;
    background: #efebeb;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 19rem;
    z-index: -1;  /*z-index é o eixo de profundidade, se aplicar -1 ele fica atrás da camada*/
}