<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/initial.css">
    <link rel="stylesheet" href="/styles/searchIdea.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search-results.css">
</head>
<header>
    <span id="principal">
        <div class="headerTop">
               <img src="/img/LogoBranco.svg" alt="logo">
               <h3>Knowledge SY</h3>
        </div>
    </span>

    <span class="exit">
        <a href="/index"><img src="/img/exit.svg" class="exit"></a>
    </span>
    <span class="exit2">
            <a href="/index" style="color: #000000">Sair</a>
        </span>
<body>

    <div id="page-search-results">
            <main>
                {%if total > 0%}
                    <h4>
                        <strong>{{total}} ideas</strong>
                             encontradas
                    </h4>

                    <div class="cards">
                        {% for ideas in idea %}
                            <div class="card">
                                <h1>{{ideas.FormAssunto}}</h1>
                                <h3>{{ideas.FormDetalhes}}</h3>
                            <p>
                                {{ideas.FormEmployeeNome}}, {{ideas.FormEmployeeRA}}
                            <br>
                    </div>
                        {% endfor %}
                </div>
                {%else%}
                    <h4><strong>Nenhuma </strong>ideia encontrado</h4>
                {% endif %}

            </main>
    </div>
</body>
</html>